* {
    padding: 0 !important;
    margin: 0 !important;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000; 
    display: block;
    height: 700;
    width: 600;
    transform: translate(-50%, -50%);
}
